<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sales order details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/so.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="main.js"></script>

</head>
<body class = "body">
<main>
    <h2 class="main"> Sales order details </h2>
</main>    
    <div class = "SO_input_blk">
       <form action='/get/salesorder' method='POST'>
        <label for="SO"> Sales order number </label>
        <input type="text" id="SO" name="so_no">
         <button type ="submit" class="get_btn"> Get Details</button>     
    </form>
    </div>

</body>
</html>